{% include "profile/profile.html" %}

<!DOCTYPE html>
<html>

<body>

    <h3>Select field</h3>
    <div class="school">
        <ul>
            <li>
                <a href="{% url 'Mathscience' %}">Maths Science</a>
          
                <a href="{% url 'Biology' %}">Biology</a>
            
                <a href="{% url 'Commerce' %}">Commerce</a>
            
            	<a href="{% url 'Arts' %}">Arts</a>
            
            	<a href="{% url 'Agriculture' %}">Agriculture</a>
            </li>
        </ul>
    </div>

    
</body>
</html>




